body, 
html, 
*{ 
    background-color: var(--primary);
    margin: 0;
    align-items: center;
}


h1 {
    text-align: center;
    font-size: var(--h1);
    color: var(--secondary);
    padding-top: 20px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center; }

    
.good {
   --primary: var(--light);
   --secondary:var(--beige);
   
}
.bad{
  --primary: var(--dark);
  --secondary: var(--black);

}

.name {
    font-size: var(--h2);
    margin-top: 20px ;
    text-align: center;
    color: var(--primary);
    background-color: var(--secondary);

}

.card-img {
    width: 80%;
    height: 80%; 
    align-items: center;
    margin-left: 10.1%;
}

.card-desc {
        text-align: center;
        font-size: var(--h3);
        background-color: var(--secondary);
        color: var(--primary);

}

.container {
    margin: 12px 1px;
    border-radius: 3%;
    width: 25rem;
    height: 30rem;
    position: relative;
}

.card { 
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    position: absolute;
}

.front { 
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: var(--secondary); 
    position: absolute;
}

.back { 
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: var(--secondary);
transform: rotateY(180deg);
position: absolute;
}

.shortfilms {
    margin: var(--space);
    background-color: var(--secondary);
}
.films {
    margin: var(--space);
    background-color: var(--secondary);
}
.tvshows {
    margin: var(--space);
    background-color: var(--secondary);
}
.videogames {
    margin: var(--space);
    background-color: var(--secondary);

}

:root {
    --black: #000000;
    --light: #CBC3E3;
    --dark: #8f5599;
    --beige: #F5F5DC;
    --h1: 3.375rem;
    --h2: 2.25rem;
    --h3: 1.5rem;
    --space: 10px 0px;
    


    --primary: var(--light);
    --secondary:var(--beige);
}

.card:hover {
    transform: rotateY(180deg);
}



@media screen and (max-width:1200px){
    .card {
        width: 28%;
    }
 }
@media screen and (max-width:1000px){
    .card {
        width: 43%;
    }
 }
 @media screen and (max-width:500px){
    .card {
        width: 95%;
    }
 }